.form{
    &-group{
        margin-bottom: 2.2rem;
        @include bp(sm){
            margin-bottom: 1.5rem;
        }
        &_check{
            margin-bottom: 2.9rem;
            @include bp(sm){
                font-size: 1.2rem;
                line-height: 1.56rem;
                padding: 0.3rem 0 0 18%;
                margin-bottom: 2.1rem;
            }
        }
    }
    &-label{
        margin: 0 1.5rem 0.7rem;
        display: block;
        font-weight: 600;
    }
    &__row{
        grid-gap: 0 2rem;
    }
    &-control{
        font-variant-numeric: lining-nums;
        font-family: inherit;
        display: block;
        border: 1px solid #B9B9B9;
        border-radius: 10px;
        padding: 1.3rem 1.4rem 1.1rem;
        width: 100%;
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: 400;
        background: transparent;
        transition: all 0.3s ease-out;
        &.has-error{
            border-color: $danger;
            color: $danger;
            &::-webkit-input-placeholder{color:$danger!important}
            &::-moz-placeholder{color:$danger!important}
            &:-moz-placeholder{color:$danger!important}
            &:-ms-input-placeholder{color:$danger!important}
        }
        &:disabled{
            background: #E8E8E8;
            border-color: #E8E8E8;

        }
        &_flag{
            padding-left: 4.5rem;
            background-image: url(../img/icons/flag.svg);
            background-size: 2.2rem 1.6rem;
            background-position: 1.4rem 50%;
            background-repeat: no-repeat;
        }
    }
    &-check-input{
        flex-shrink: 0;
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;
        border-radius: 3px;
        margin: 0.2rem 0.7rem 0 0;
        border: 1px solid #B9B9B9;
        background: #fff;
        cursor: pointer;
        transition: all 0.3s ease-out;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        @include bp(hv){
            &:hover{
                border-color: #000;
            }
        }
        @include bp(sm){
            margin: 0 1.1rem 0 0;
        }
        &:checked{
            background: $primary;
            border-color: $primary;
            &:before{
                opacity: 1;
            }
        }
        &:before{
            content: '';
            display: block;
            width: 1rem;
            height: 0.5rem;
            border-left: 2px solid #fff;
            border-bottom: 2px solid #fff;
            transition: all 0.3s ease-out;
            transform: rotate(-48deg);
            transition: all 0.3s ease-out;
            opacity: 0;
            margin-top: -0.2rem;
        }
        &_sm{
            border-radius: 0;
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 1.3rem;
        }
    }
    &-radio-input{
        flex-shrink: 0;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        background: transparent;
        border: 1px solid rgba(#191919, 0.3);
        transition: all 0.3s ease-out;
        margin-right: 1.6rem;
        position: relative;
        cursor: pointer;
        @include bp(sm){
            margin-right: 1.2rem;
        }
        &:hover{

        }
        &:checked{
            border-width: 8px;
        }
    }
}
