// product
.product{
  &-item{
    @include bp(lg-up){
      margin-bottom: 1.9rem;
    }
    &__title{
      display: inline-block;
      margin: 1.5rem 0;
      font-weight: bold;
    }
    .btn{
      @include bp(md){
        font-size: 1.6rem;
        line-height: 2.1rem;
      }
    }
  }
}